body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #F5A9E1;
}

.quem-somos {
    background-color: #81BEF7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #5882FA ;
}

.bg-footer{
    background-color: black;
    color: white;
}
